.container {
  max-width: 1200px;
  width: 96%;
  margin: 0 auto;
}

.nav_links {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.nav_links > * {
  margin-right: 16px;
}

.nav_item {
  color: black;
}

.login_btn {
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--play-btn);
  cursor: pointer;
  color: var(--category-text);
  text-decoration: none;
}
