.auth-container {
  max-width: 325px;
  padding: 1.2rem 2.2rem;
  border-radius: 3px;
  box-sizing: content-box;
  background-color: white;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textfield,
input[type="password"] {
  min-width: none !important;
  width: 90%;
}

.name-container .input-group {
  max-width: 200px;
  width: 50%;
  margin-bottom: 0;
}

.name-container .input-group + .input-group {
  margin-left: 8px;
}

.input-group {
  display: block;
  margin-bottom: 1rem;
}

.choice-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-primary {
  width: 100%;
  transition: none;
  text-transform: capitalize;
  margin: 1rem 0;
  border-radius: 3px;
  background-color: var(--play-btn);
  color: var(--category-text);
  font-weight: bold;
}

.guest-btn {
  background-color: var(--next-btn);
}

.signup-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 1rem 0;
}

.signup-link {
  color: #57cc99;
  margin-bottom: 2px;
  text-decoration: none;
}
